<div class="container">
     <div class="text-center po-title m2">Top Rated french Teachers</div>
     <div class="text-center po-body m2">
          Elevate your learning experience with our top-rated teachers, where expertise meets inspiration, and knowledge knows no bounds
     </div>
     <div class="row m-0">
          <div class="col-lg-4 p-1">
               <app-top-rated-teachers></app-top-rated-teachers>
               <app-stat-star></app-stat-star>
          </div>
     </div>
</div>
