<div class="">
     <div class="d-flex">
          <div><img src="assets/img/cat-4.jpg" style="height: 60px; width: 60px" alt="" /></div>
          <div class="text-1 ms-3">
               <p class="m-0 fw-semibold">Brayam</p>
               <p class="m-0">novenbre 15,2025</p>
          </div>
     </div>
     <div class="text-1 p-2">
          <div class="m-0">
               <div class="flex justify-content-center">
                    <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
               </div>
          </div>
          <p>
               David is very patient and is a very skilled and seasoned teacher. He knows how to adjust to your learning pace naturally and does a
               great job of correcting pronunciation and grammar tactfully.
          </p>
     </div>
</div>
