<!-- <div class="bg-light p-2"> -->
<div class="bg-light d-flex align-items-center justify-content-lg-center" style="min-height: 950px">
     <div class="container">
          <div class="text-center po-title m2">Reasons to learn about Langoli</div>
          <div class="text-center po-body m2">
               Langoli has many advantages, such as the flexibility to study at your own pace, easy access to courses from any internet-connected
               device, and the ability to choose from a wide range of learning programs to develop your skills. skills and knowledges
          </div>

          <div class="">
               <div class="accordion m2" id="accordionExample">
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-body"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseOne"
                                   aria-expanded="true"
                                   aria-controls="collapseOne"
                              >
                                   Flexible Scheduling
                              </button>
                         </h2>
                         <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">Book and attend classes on your schedule</div>
                         </div>
                    </div>
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-body collapsed"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseTwo"
                                   aria-expanded="false"
                                   aria-controls="collapseTwo"
                              >
                                   Pay as you go
                              </button>
                         </h2>
                         <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">No contracts - buy lessons only</div>
                         </div>
                    </div>
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-body collapsed"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseThree"
                                   aria-expanded="false"
                                   aria-controls="collapseThree"
                              >
                                   Lessons made for you
                              </button>
                         </h2>
                         <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">Customize lessons for your specific needs</div>
                         </div>
                    </div>
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-body collapsed"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapsefour"
                                   aria-expanded="false"
                                   aria-controls="collapsefour"
                              >
                                   Outstanding tutors
                              </button>
                         </h2>
                         <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">Choose from highly qualified tutors around the globe</div>
                         </div>
                    </div>
              
               </div>

               <div class="p-4 text-center">
                    <button class="btn btn-primary po-body text-white">start finding tutors</button>
               </div>
          </div>
     </div>
</div>
