<!-- <div class="bg-light p-2"> -->
     <div class="bg-light d-flex align-items-center justify-content-lg-center " style="min-height: 950px;">

     <div class="container">
          <div class="text-center po-title m2">Reasons to learn about Langoli</div>
          <div class="text-center po-body m2">
               Langoli has many advantages, such as the flexibility to study at your own pace, easy access to courses from any internet-connected
               device, and the ability to choose from a wide range of learning programs to develop your skills. skills and knowledges
          </div>

          <div class="">
               <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-title"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseOne"
                                   aria-expanded="true"
                                   aria-controls="collapseOne"
                              >
                                   Flexible Scheduling
                              </button>
                         </h2>
                         <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">
                                   Explore the horizons of knowledge with Langoli Flexible Scheduling, where online learning blends seamlessly with
                                   schedules tailored to your unique pace.
                              </div>
                         </div>
                    </div>
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-title collapsed"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseTwo"
                                   aria-expanded="false"
                                   aria-controls="collapseTwo"
                              >
                                   Pay as you go
                              </button>
                         </h2>
                         <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">
                                   <strong>This is the second item's accordion body.</strong>
                                   It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                                   These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                                   any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                                   can go within the
                                   <code>.accordion-body</code>
                                   , though the transition does limit overflow.
                              </div>
                         </div>
                    </div>
                    <div class="accordion-item border-0">
                         <h2 class="accordion-header">
                              <button
                                   class="accordion-button text-white bg-secondary po-title collapsed"
                                   type="button"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseThree"
                                   aria-expanded="false"
                                   aria-controls="collapseThree"
                              >
                                   Lessons made for you
                              </button>
                         </h2>
                         <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light po-body">
                                   <strong>This is the third item's accordion body.</strong>
                                   It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                                   These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                                   any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                                   can go within the
                                   <code>.accordion-body</code>
                                   , though the transition does limit overflow.
                              </div>
                         </div>
                         
                    </div>
                    <div class="accordion-item border-0">
                        <h2 class="accordion-header">
                             <button
                                  class="accordion-button text-white bg-secondary po-title collapsed"
                                  type="button"
                                  data-bs-toggle="collapse"
                                  data-bs-target="#collapsefour"
                                  aria-expanded="false"
                                  aria-controls="collapsefour"
                             >
                             Outstanding tutors
                             </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                             <div class="accordion-body bg-light po-body">
                                  <strong>This is the third item's accordion body.</strong>
                                  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                                  These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                                  any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                                  can go within the
                                  <code>.accordion-body</code>
                                  , though the transition does limit overflow.
                             </div>
                        </div>
                        
                   </div>
                   <div class="accordion-item border-0">
                    <h2 class="accordion-header">
                         <button
                              class="accordion-button text-white bg-secondary po-title collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapsefive"
                              aria-expanded="false"
                              aria-controls="collapsefive"
                         >
                         Pay as you go
                         </button>
                    </h2>
                    <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                         <div class="accordion-body bg-light po-body">
                              <strong>This is the third item's accordion body.</strong>
                              It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.
                              These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify
                              any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                              can go within the
                              <code>.accordion-body</code>
                              , though the transition does limit overflow.
                         </div>
                    </div>
                    
               </div>
               </div>
          </div>
     </div>
</div>
