<div class="border m1 bg-dark">
     <div class="text-center m2 mt2">
          <span class="po-title text-light">240 languages considered by Langoli</span>
     </div>
     <div class="m2">
          <div class="main-container">
               <div class="wrapper bg-light"></div>
               <span class="text po-body">francais</span>
               <div class="pic">
                    <i class="flag-icon flag-icon-gb" style="font-size: 3rem"></i>
               </div>
               <span class="text-2 po-body">45 professeurs</span>
          </div>
     </div>
</div>
