<div class="position-relative p-2 rounded-2" style="width: 261px; height: 321px">
     <img src="assets/img/img-home/team-3.jpg" class="w-100 h-100 rounded-2" alt="temoignage" />
     <div class="row p-1 col-10 position-absolute bottom-0 start-50 translate-middle-x">
          <p class="col-6 po-body fw-bold shadow rounded align-self-end">tessy mary</p>
          <span class="col-6 p-1 align-self-end text-end" type="button">
               <i class="fa-regular fa-circle-play text-primary" style="font-size: 3.5rem"></i>
          </span>
     </div>
</div>
