<div class="m2">
     <app-header-home [images]="imageLang"></app-header-home>
</div>

<div class="m1">
     <app-main-langue-carousel [imageLang]="imageLang"></app-main-langue-carousel>
</div>

<div class="m1">
     <app-numbers-story [statNumber]="statNumber"></app-numbers-story>
</div>

<div class="m1">
     <app-top-rated></app-top-rated>
</div>

<div class="m1">
     <app-top-rated2></app-top-rated2>
</div>

<div class="m1">
     <app-become-teacher></app-become-teacher>
</div>

<div class="m1">
     <app-reasons-learn></app-reasons-learn>
</div>

<div class="m1">
     <app-our-students></app-our-students>
</div>

<div class="">
     <app-footer></app-footer>
</div>
