// $color1: #6f42c1;
@import '../../../assets/theme/color.scss';

.b1 {
     background-color: rgb($color1, 0.5);
}

.b2 {
     border: 1px solid #eee;
     background-color: #fafafa;
     transition: all 0.5s ease-in-out;
}
.b2:hover {
     transform: translateY(-2px);
     box-shadow: 0px 4px 10px rgba($color1, 0.35);
}

.bg-reasons-learn {
     background-image: url('../../../assets/img/course-4.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;
     float: left;
     padding: 100px 0;
     width: 100%;
     position: relative;
     &:before {
          background-color: rgba($color1, 0.8);
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
     }
}

