<!-- Header Start -->
<div class="p-0 mb-5">
     <div class="header-carousel position-relative">
          <div class="position-relative">
               <img class="img-fluid" src="assets/img/carousel-1.jpg" class="w-100" alt="" />
               <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center b1">
                    <div class="container">
                         <div class="row justify-content-start">
                              <div class="col-sm-10 col-lg-8">
                                   <h5 class="text-primary fw-semibold fs-1 mb-3">Best Online Courses</h5>
                                   <h1 class="display-3 text-white d-none d-md-block">Learn to speak a language with confidence</h1>
                                   <p class="fs-6 text-white mb-4 pb-2">
                                        Live classes online 24/7 , Learn in small groups or one-on-one , 7-day free trial
                                   </p>
                                   <button
                                        routerLinkActive="active"
                                        class="btn btn-outline-secondary py-md-3 px-md-5 me-3 dropdown-toggle"
                                        href="#"
                                        id="navbarDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                   >
                                        <i class="fas fa-globe"></i>
                                        language
                                   </button>
                                   <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                   </ul>
                                   <a href="" class="btn btn-primary py-md-3 px-md-5 animated slideInRight">Get Started</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mb-5">
     <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 p-1">
               <div class="p-2 b2 text-center">
                    <div class="p-3 text-center">
                         <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Individual lessons</h5>
                         <p class="card-text">Find teachers from all over the world, sharing their languages. dialects and cultures</p>

                         <div class="p-1"><button class="btn btn-outline-primary">Find my teacher</button></div>
                    </div>
               </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 p-1">
               <div class="p-2 b2 text-center">
                    <div class="p-3 text-center">
                         <i class="fa fa-3x fa-book-open text-success mb-4"></i>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Train for free</h5>
                         <p class="card-text">Meet and share experiences with millions of language learners from over 190 countries</p>

                         <div class="p-1"><button class="btn btn-outline-success">Explore the community</button></div>
                    </div>
               </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 p-1">
               <div class="p-2 b2 text-center">
                    <div class="p-3 text-center">
                         <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                    </div>

                    <div class="card-body">
                         <h5 class="card-title">Group lessons</h5>
                         <p class="card-text">Fun and engaging online group classes designed and led by expert teachers</p>

                         <div class="p-1"><button class="btn btn-outline-primary">See all courses</button></div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- service end -->

<div class="container mb-5 d-flex align-items-center">
     <div class="mb-3 mt-5">
          <div class="row g-0">
               <div class="col-lg-5">
                    <img src="assets/img/cat-4.jpg" class="img-fluid rounded-start w-100" alt="..." />
               </div>
               <div class="col-lg-7">
                    <div class="card-body p-5">
                         <h2 class="card-title p-1 text-primary fw-semibold">What is Langoli?</h2>
                         <p class="card-text">
                              An online platform that offers a complete range of
                              <span class="fw-semibold">personalized courses</span>
                              , accessible
                              <span class="fw-semibold">live and online</span>
                              . Whether you prefer dynamic group lessons or more targeted private lessons, our platform
                              <span class="fw-semibold">adapts to your needs</span>
                              . Regardless of your current level, whether you are a beginner looking for solid foundations or advanced looking for
                              more complex challenges, our courses are designed to support you in your progress.
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mb-5 d-flex align-items-center flex-column">
     <div class="text-center p-3 mb-4">
          <h1 class="text-primary fw-semibold">Top Rated English Teachers</h1>
          <p>Some of our top-rated English teachers</p>
     </div>
     <div class="row">
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>

          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-2.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-3.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mb-5 d-flex align-items-center flex-column">
     <div class="text-center p-3 mb-4">
          <h1 class="text-primary fw-semibold">Top rated French teachers</h1>
          <p>Some of our top-rated French teachers</p>
     </div>
     <div class="row">
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>

          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-2.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-3.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
          <div class="p-1 col-sm-12 col-lg-4 col-md-6">
               <div class="card">
                    <img src="assets/img/team-4.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                         <h5 class="card-title">Joshua Carlos</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                         <li class="list-group-item">language that I teach</li>
                         <li class="list-group-item">language I know: English-mother tongue, Spanish B1</li>
                         <li class="list-group-item">Location:YAOUNDE I teach:Private lessons</li>
                    </ul>
                    <div class="card-body">
                         <button class="btn btn-outline-primary">View Details</button>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mb-5">
     <div class="text-center p-3 mb-4">
          <h1 class="text-primary fw-semibold">Reasons to learn about Langoli</h1>
          <p>
               Langoli has many advantages, such as the flexibility to study at your own pace, easy access to courses from any internet-connected
               device, and the ability to choose from a wide range of learning programs to develop your skills. skills and knowledges
          </p>
     </div>

     <div class="">
          <p-timeline [value]="events" [align]="'alternate'" styleClass="customized-timeline">
               <ng-template pTemplate="marker" let-event>
                    <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                         <i [ngClass]="event.icon"></i>
                    </span>
               </ng-template>
               <ng-template pTemplate="content" let-event>
                    <p-card [header]="event.status">
                         <i [class]="event.icon + ' fa-8x  text-success mb-4 '"></i>
                         <p>
                              {{ event.text }}
                         </p>
                         <button label="Read more" class="btn btn-outline-success">Start Finding tutors</button>
                    </p-card>
               </ng-template>
          </p-timeline>
     </div>
</div>

<div class="container mb-5">
     <div class="text-center p-3 mb-4">
          <h1 class="text-primary fw-semibold">What our students say</h1>
          <p>Hear the winners of our students' favorite language</p>
     </div>
     <div class="">
          <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
               <ng-template let-product pTemplate="item">
                    <!-- testimonial slider -->
                    <ul class="">
                         <li class="text-center d-flex justify-content-center">
                              <div class="card rounded-4" style="width: 20rem">
                                   <img src="assets/img/testimonial-2.jpg" class="card-img-top rounded-4" alt="testimonial" />
                                   <div class="card-body">
                                        <h5 class="card-title fw-semibold">David Muller</h5>
                                        <p class="card-text">Camerounaise</p>
                                        <a href="#" class="btn btn-primary">view</a>
                                   </div>
                              </div>
                         </li>
                    </ul>
               </ng-template>
          </p-carousel>
     </div>
</div>

<div class="container mb-5 vh-100 d-flex align-items-center">
     <div class="mb-3">
          <div class="row g-0">
               <div class="col-lg-7">
                    <div class="card-body p-2">
                         <h2 class="card-title p-1 text-primary fw-semibold">Interested in becoming a teacher with an amazing talker</h2>
                         <div class="ms-3">
                              <p class="card-text"><small class="text-body-secondary">Higher income with more freedom</small></p>
                              <div class="ms-3 mb-3">
                                   <p class="card-text">set your own prices</p>
                                   <p class="card-text">Be your own boss</p>
                                   <p class="card-text">Work from home , and on your schedule</p>
                              </div>
                              <p><button class="btn btn-outline-danger rounded-0">Apply to teach</button></p>
                         </div>
                    </div>
               </div>

               <div class="col-lg-5">
                    <img src="assets/img/cat-2.jpg" class="img-fluid rounded-start w-100" alt="..." />
               </div>
          </div>
     </div>
</div>
