<!-- <div class="bg p-2">
     <div class="carousel-container p-2">
          <div class="carousel">
               <div class="slide bg-light d-flex rounded-4" type="button" *ngFor="let country of countries" style="background-color: #f1f1f1;">
                    <span class="d-flex">
                         <img [src]="country.flag" class="rounded-4" alt="{{ country.name }} Flag" />
                         <span class="ms-2 fs-3">{{ country.name | uppercase }}</span>
                    </span>
               </div>
          </div>
     </div>
</div> -->

<div class="slider p-2 ">
     <div class="slide-track">
          <div class="slide p-1" *ngFor="let item of [1, 1, 1, 1, 1, 1, 1, 1,1,1,1,1]">
               <div class="border m-0 p-0 rounded-4  btn btn-outline-primary d-flex">
                    <div class="col-4 p-1">
                         <img [src]="flag" class="rounded-4" height="50" width="70" alt="" />
                    </div>
                    <div class="col-8 ms-1">
                         <p class="m-1 text-1">English</p>
                         <p class="m-1 text-1" >123 Teachers</p>
                    </div>
               </div>
          </div>
     </div>
</div>
