.profil-r7V {
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
}
.profil-r7V .auto-group-smgx-DCw {
     box-sizing: border-box;
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: column;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .rectangle-4-8ao {
     height: 25.8465rem;
     object-fit: cover;
     vertical-align: top;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .hunger-game-4UT {
     max-width: 19.5rem;
     text-align: center;
     font-size: 4rem;
     font-weight: 600;
     line-height: 1;
     text-transform: uppercase;
     color: #000000;
     font-family: Montserrat, 'Source Sans Pro';
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .group-606-ZRD {
     margin: 0rem 6.976rem 0.192rem 6.549rem;
     box-sizing: border-box;
     padding: 0.219rem 0rem 0.198rem 0.187rem;
     width: calc(100% - 13.5257rem);
     display: flex;
     align-items: center;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .group-606-ZRD .solar-star-bold-duotone-r9R {
     margin: 0rem 0.523rem 0.151rem 0rem;
     width: 1.8657rem;
     height: 2.0088rem;
     position: relative;
     object-fit: contain;
     vertical-align: top;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .group-606-ZRD .solar-star-bold-duotone-ZZd {
     margin: 0rem 0.546rem 0.02rem 0rem;
     width: 1.8193rem;
     height: 1.982rem;
     position: relative;
     object-fit: contain;
     vertical-align: top;
     flex-shrink: 0;
}

.profil-r7V .auto-group-smgx-DCw .group-606-ZRD .solar-star-line-duotone-bmD {
     margin: 0rem 0.364rem 0.02rem 0rem;
     width: 1.8193rem;
     height: 1.9819rem;
     object-fit: contain;
     vertical-align: top;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .group-606-ZRD .vector-XPy {
     margin-bottom: 0.0204rem;
     width: 1.8193rem;
     height: 1.9819rem;
     object-fit: contain;
     vertical-align: top;
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .language-that-i-teach-TYX {
     margin: 0rem 0.364rem 0.065rem 0rem;
     max-width: 19.9rem;
     text-align: center;
     font-size: 2.4rem;
     font-weight: 500;
     line-height: 1.25;
     text-transform: capitalize;
     color: #000000;
     font-family: Montserrat, 'Source Sans Pro';
     flex-shrink: 0;
}
.profil-r7V .auto-group-smgx-DCw .language-i-know-english-mother-tongue-spanish-b1-MP1 {
     max-width: 23.5rem;
     text-align: center;

     text-transform: capitalize;
     color: rgba(0, 0, 0, 0.5);
}
.profil-r7V .auto-group-sdg7-4HR {
     box-sizing: border-box;
     flex-shrink: 0;
}
.profil-r7V .auto-group-sdg7-4HR .follow-on-langoli-ArF {
     text-align: center;
     font-size: 2.4rem;
     font-weight: 500;
     line-height: 1.25;
     text-transform: capitalize;
}







.profil-nXV {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.profil-nXV .rectangle-4-Xjy {
  width: 24.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy {
  margin-bottom: 0.3106rem;
  width: 33.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK {
  box-sizing: border-box;
  padding: 0rem 0.8rem 1.25rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .hunger-game-7y5 {
  margin: 0rem 0rem 0.076rem 0.4rem;
  max-width: 18.4rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o {
  margin: 0rem 0rem 0rem 0.4rem;
  box-sizing: border-box;
  padding: 0.228rem 0rem 0.207rem 0.205rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o .solar-star-bold-duotone-vQj {
  margin: 0rem 0.575rem 0.158rem 0rem;
  width: 2.051rem;
  height: 2.0988rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o .solar-star-bold-duotone-dK9 {
  margin: 0rem 0.969rem 0.021rem 0rem;
  width: 2rem;
  height: 2.0708rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o .solar-star-bold-duotone-LjM {
  margin: 0.186rem 0.231rem 0rem 0rem;
  width: 2rem;
  height: 2.0708rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o .solar-star-line-duotone-4fM {
  margin: 0rem 0.4rem 0.021rem 0rem;
  width: 2rem;
  height: 2.0707rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .group-606-p6o .vector-Phd {
  margin-bottom: 0.0213rem;
  width: 2rem;
  height: 2.0707rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .language-that-i-teach-Xoq {
  margin-bottom: 1.0379rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-tlct-CLK .language-i-know-english-mother-tongue-spanish-b1-31V {
  max-width: 30.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.profil-nXV .auto-group-a6td-Ffy .auto-group-jdxq-YD9 {
  width: 100%;
  height: 5.1768rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #226bac;
  border-radius: 1rem;
  flex-shrink: 0;
}
