
     <div class="m2 ">
          <div class="card d-none d-lg-block">
               <div class="row g-0">
                    <div class="col-5 p-2">
                         <img src="assets/img/img-home/team-3.jpg" class="img-fluid rounded-2 h-100" alt="teacher" />
                    </div>
                    <div class="col-7">
                         <div class="card-body">
                              <p class="po-title m-0">HUNGER GAME</p>
                              <app-stat-star></app-stat-star>
                              <p class="po-body m-0">Language That I Teach</p>
                              <p class="po-body m-0"><small class="text-body-secondary">Language I Know: English-Mother Tongue, Spanish B1</small></p>
                         </div>
                         <div class="p-1 text-center">
                              <button class="w-100 po-body text-white btn btn-secondary">FOLLOW ON LANGOLI</button>
                         </div>
                    </div>
               </div>
          </div>
     </div>

<!-- /// -->
<!-- teacher android -->
<div class="d-flex justify-content-center p-1 d-lg-none">
     <div class="card col-10">
          <div class="row g-0">
               <div class="col-md-4 p-2">
                    <img src="assets/img/img-home/team-3.jpg" class="img-fluid rounded-2 h-100" alt="teacher" />
               </div>
               <div class="col-md-8">
                    <div class="card-body">
                         <p class="po-title m-0">HUNGER GAME</p>
                         <app-stat-star></app-stat-star>
                         <p class="po-body m-0">Language That I Teach</p>
                         <p class="po-body m-0"><small class="text-body-secondary">Language I Know: English-Mother Tongue, Spanish B1</small></p>
                    </div>
                    <div class="p-1 text-center">
                         <button class="w-100 po-body text-white btn btn-secondary">FOLLOW ON LANGOLI</button>
                    </div>
               </div>
          </div>
     </div>
</div>


