<div class="profil-r7V rounded-2 border">
     <div class="auto-group-smgx-DCw p-1">
          <img class="rectangle-4-8ao bd rounded-2 w-100" src="./assets/rectangle-4.png" />
          <p class="hunger-game-4UT po-title p-2">Hunger game</p>
          <div class="bd">
               <div class="bd">
                    <app-stat-star></app-stat-star>
               </div>
          </div>
          <p class="language-that-i-teach-TYX po-body">language that I teach</p>
          <p class="language-i-know-english-mother-tongue-spanish-b1-MP1 po-body">language I know: English-mother tongue, Spanish B1</p>
     </div>
     <div class="auto-group-sdg7-4HR w-100 p-1">
          <button class="follow-on-langoli-ArF text-white w-100 btn btn-secondary po-body">FOLLOW ON LANGOLI</button>
     </div>
</div>

<div class="bd">
     <div class="profil-nXV bd">
          <div class="bd rectangle-4-Xjy">
               <img class="" src="./assets/rectangle-4-i6o.png" />
          </div>
          <div class="auto-group-a6td-Ffy bd">
               <div class="auto-group-tlct-CLK">
                    <p class="hunger-game-4UT po-title p-2">Hunger game</p>
                    <div class="group-606-p6o">
                         <div class="bd">
                              <app-stat-star></app-stat-star>
                         </div>
                    </div>
                    <p class="language-that-i-teach-TYX po-body">language that I teach</p>
                    <p class="language-i-know-english-mother-tongue-spanish-b1-MP1 po-body">language I know: English-mother tongue, Spanish B1</p>
               </div>

               <div class="auto-group-sdg7-4HR w-100 p-1">
                    <button class="follow-on-langoli-ArF text-white w-100 btn btn-secondary po-body">FOLLOW ON LANGOLI</button>
               </div>
          </div>
     </div>
</div>
