<div class="container">
     <div class="text-center po-title m2">Numbers tell our story</div>
     <div class="text-center po-body m2">In a creative workplace, employees responsibly try different solutions</div>
     <div class="row m-0 m1">
          <div class="col-lg-4 p-1" *ngFor="let statIten of statNumber">
               <app-stat-number-story [src]="statIten.src" [stat]="statIten.stat" [body]="statIten.boby"></app-stat-number-story>
          </div>
     </div>
     <div class="text-center m1 mt-5">
          <a class="btn btn-outline-secondary po-body">Join Now</a>
     </div>
</div>
