<div class="bg-dark d-flex align-items-center justify-content-lg-center " style="min-height: 950px;">
     <div class="container">
          <div class="text-white">
               <div class="row m-0  d-flex align-items-center">
                    <div class="col-lg-6 p-1">
                         <div class="text-center po-header m2">What our students say</div>
                         <div class="text-center po-title m2">Hear the winners of our students' favorite language</div>
                    </div>
                    <div class="col-lg-6  d-flex justify-content-center ">
                         <app-students></app-students>
                    </div>
               </div>
          </div>
     </div>
</div>
