/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../src/assets/theme/color.scss';
@import '../node_modules//flag-icon-css/css/flag-icons.css';

$color1: $color1;
$color2: $color2;
$color3: $color3;

.po-header {
     font-size: 64px !important;
     font-family: 'Bebas Neue' !important;
     text-transform: uppercase;
     font-weight: bold;
     line-height: 1;
}

.po-header-android {
     font-size: 48px !important;
     font-family: Bebas Neue, 'Source Sans Pro' !important;
     text-transform: uppercase;
     font-weight: bold;
     line-height: 1;
}
.po-title {
     font-size: 24px !important;
     font-family: Montserrat;
     font-weight: bold;
     text-transform: uppercase;
}
.po-body {
     font-size: 16px !important;
     font-family: Montserrat;
     text-transform: capitalize;
}

.bd {
     border: solid 2px blue !important;
}

.m1 {
     margin-bottom: 100px;
}

.m2 {
     margin-bottom: 50px;
}

.mt2{
     margin-top: 50px;  
}


$blue: #226bac;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$light: #ffffff;

$primary: $color1;
$purple: $color2;
// $success: $color3;
$light: $color3;
// $success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$theme-colors: (
     'primary': $primary,
     'secondary': $purple,
     'success': $success,
     'info': $info,
     'warning': $warning,
     'danger': $danger,
     'light': $light,
     'dark': $dark,
);

@import '../node_modules/bootstrap/scss/bootstrap';
