<div class="container ">
     <div class="text-center po-title m2">Become a teacher</div>
     <div class="text-center po-body m2">
          Embark on the transformative journey of shaping minds and inspiring futures as you embrace the opportunity to become a teacher - a beacon of
          knowledge, mentorship, and positive impact.
     </div>
     <div class="row m-0">
          <div class="col-lg-6 p-1 ">
               <img src="assets/img/img-home/become_teacher.svg" alt="become teacher" class="w-100" />
          </div>
          <div class="col-lg-6   text-start">
               <div class="po-title d-none d-lg-block m2">Interested in becoming a teacher with an amazing talker</div>
               <div class="po-title text-center d-lg-none m2">Interested in becoming a teacher with an amazing talker</div>

               <div class="po-body d-none d-lg-block m2">Higher income with more freedom</div>
               <div class="po-body m2 text-center d-lg-none">Higher income with more freedom</div>

               <ul>
                    <li class="po-body">set your own prices</li>
                    <li class="po-body">Be your own boss</li>

                    <li class="po-body">Work from home , and on your schedule</li>
               </ul>

               <div class="m2 text-center ">
                    <button class="btn btn-primary text-white po-body">Apply to teacher</button>
               </div>
          </div>
     </div>
</div>
